* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#site_main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.score {
    width: 100%;
    padding: 1rem;
}

.timer {
    width: 100%;
    margin: 1rem 0;
}

.container span{
    display: inline-block;
    margin: 0.5rem 1rem;
}
.guessed {
    color: green;
}

.not-guessed {
    color: red;
}

.guessed i, .not-guessed i {
    margin: 0 0.5rem;
}
