* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#site_main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.score {
    width: 100%;
    padding: 1rem;
}

.container span{
    display: inline-block;
    margin: 0.5rem 1rem;
}
